body {
    padding-bottom: 300px; /* place for popups */
}
h1 {
    padding: 18px 18px 0;
    margin-bottom: 15px;
}
#memstat {
    float: right;
    padding: 26px 18px 0;
}

#strace-data {
    font-family: monospace;
    white-space: pre-line;
}

.timeline {
    display: table;
}
.timeline_head {
    display: table-row;
    position: sticky;
    top: 0;
    background: #ccc;
    font-weight: bold;
}
.timeline_row {
    display: table-row;
}
.timeline_cell,
.timeline_head_cell {
    display: table-cell;
    border-top: 1px solid #e3e3e3;
    height: 6px;
    padding: 0 18px;
    min-width: 1000px;
}

.strace_item {
    white-space: nowrap;
}
.strace_item > div {
    display: inline-block;
}
.strace_syscall_name {
    color: #0066bb;
    /* font-weight: bold; */
    text-decoration: none;
}
.strace_syscall_args {
    display: inline-block;
    /* max-width: 400px; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* vertical-align: top; */
}
.strace_syscall_args::before {
    content: "(";
}
.strace_syscall_args::after {
    content: ")";
}
.strace_arg {
    display: inline-block;
}
.strace_arg:hover {
    background: #fff9e0;
}
.strace_arg::after {
    content: ",";
    padding-right: 0.25em;
}
.strace_arg:last-child::after {
    content: "";
    padding-right: 0;
}
.strace_result::before {
    content: "=";
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.strace_item_shadow {
    position: absolute;
    display: none;
    background: #fff1df;
}
.strace_item_shadow .strace_syscall_args {
    max-width: fit-content;
}
.strace_item:hover .strace_item_shadow {
    display: block;
}

.strace_struct {
    display: inline-block;
    position: relative;
}
.strace_struct:hover .strace_struct_content {
    display: block;
}
.strace_struct_content {
    display: none;
    position: absolute;
    background: #ddd;
    padding: 1em;
    border-radius: 3px;
}